*{
    margin: 0;padding: 0;list-style: none;
}
html {
    background-color: rgb(126, 151, 105);
}
.container{
    max-width: 80vw;
    margin: auto;
    background-color: #fff;
    padding: 18px 50px;
    background-image: url(../images/color-tile.png),url(../images/color-tile.png);
    background-position: top left,bottom left;
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
    height: 150px;
    background-color: #fff;
    border-bottom: 3px solid #e5e9dc;
}
.headerr{
    background-image: url(../images/leaf-title.jpg);
    height: 150px;
    width: 50%;
    background-color: rgb(255, 127, 212);
    background-position: right;
    background-repeat: no-repeat;
}
/* nav */
.nav{
    margin-top: 20px;
    margin-left: 10px;
}
.nav-list{
    display: flex;
    margin:-9px ;padding: 0;
}
.nav-list-item{
    position: relative;
}
.nav-list-item-link{
    display: block; 
    color:  #617640;
    text-decoration: none;
    padding: 10px 20px;
    border: 3px solid #e5e9dc;
    border-bottom: none;
    margin-right: 2px;
    transform: rotatex(358deg);
}
.nav-list-item-link:hover{
    color: #fff;
    background-color: #617640;
    box-shadow: 5px 5px 15px grey;
    border: none;
    transition: all .4S ease-in;
    margin-top: 3px;
    transform: rotatex(358deg);
}
.nav-sublist .nav-list-item-link{
background-color: #8ea961;
}
.nav-list-item:hover .nav-sublist{
    /* .nav-list-item:hover對.nav-sublist產生效果 */
display: block;
}
.nav-sublist{
    position: absolute;
    display: none;
    background-color: #e5e9dc;
    z-index: 99;
    margin-left: 2px;
    
}
/* nav       ****  */
.content{
    display: flex;
    flex-direction: row;

}
.main-area {
    width: 73%;
    padding: 30px;
    box-sizing: border-box;
}
.main-area .imgdiv{
    width: 100%;
    position: relative;
}
.main-area img{
    width: 100%;
    padding: 10px 0; 
}
.imgdiv:hover img{
    transform: scalex(1) rotate(-360deg);
    transition: all .7s;
}
.imgdiv:hover h1{
    font-weight:bolder;
    font-size: 3em;
    left: 40%;
    top: 50%;
    display: block;
    transform: scalex(1) rotate(7200deg);
    transition: all 2s;
    background-color:  rgba(000,000,000,0.5 );
    color: #ffffff;
    border-radius: 5px;
}

.imgdiv h1{
    position: absolute;
    z-index: 999;
    text-align: center;
    font-size: 1em;
    margin: auto;
    left: 30%;
    top: 50%;
    background-color: rgba(000,000,000,0.0 );
    color: #e5e9dc00;
}
.sidebar {
    background-color: rgb(229, 242, 219);
    width: 27%;
    height: 100%;
    padding: 40px;
}

.footer {
    width: 80vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid rgb(172, 191, 156);
    margin-top: 10px;
}
